@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked + .toggle-label {
    background-color: #3b82f6;
}

.toggle-checkbox:checked + .toggle-label .toggle-ball {
    transform: translateX(1.5rem);
}

.toggle-label {
    transition: background-color 0.2s ease;
}

.toggle-ball {
    transition: transform 0.2s ease;
}

.dark {
    background-color: #282828;
    color: white;
}